img {
    width: 100%;
}

p {
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
}

/*FORSIDE*/
.forside {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 1rem;
    padding: 3rem;

}

.forside h3 {
    color: dodgerblue;
}

.forside p {
    font-size: 1.3rem;
    max-width: 550px;
    margin-left: 2.5rem;
}

.forside a {
    text-decoration: none;
    color: #498ce8;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.splash {
    position: relative;
    top: 0;
    left: 0;
}


.logo {
    position: absolute;
    width: 150px;
    height: 30px;
    top: 0vw;
    left: 45vw;

}


/*MENU*/
#menu {
    top: 0;
    background-color: white;

}

nav a {
    font-family: sans-serif;
    font-size: 4rem;
    text-decoration: none;
    line-height: 2;
    color: #498ce8;
    font-weight: 600;

}

/*SEKUNDÆR MENU*/

.menu2 {
    text-align: center;
    justify-content: space-between;

}


/*Selve knappen*/
button {
    font-size: 1rem;
    /*Den indre afstand i boksen*/
    padding: 0;
    /*Fjerner kanten på knapperne*/
    border: 0;
    font-family: sans-serif;
    background-color: white;
    margin: 0 1rem;

}


/*HISTORIE*/
.historie {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 1rem;
    padding: 3rem;
}

.historie p {
    margin: 2.4rem;
    line-height: 1.5;
}

.forside_text h1 {
    text-align: center;
    font-size: 3.5em;
}

/*KONTAKT*/
.kontakt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 1rem;
    padding: 4rem;
}

.kontakt_text h1 {
    text-align: center;
    font-size: 3.5em;
}


.iframe {}

/*SOCIALE MEDIER*/


/*CYKLER*/
.cykler {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 4rem;
    padding: 3rem;
}


/*DETALJESIDE*/

.detalje_side {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    padding: 3rem;
}

.luk {
    font-size: 2rem;
    margin: 0 0;
}

.detalje_side h2 {
    text-align: center;
    font-size: 3rem;
}

.detalje_side p {
    margin-right: 40rem;
    font-family: sans-serif;
}

/*BURGER MENU*/

/*Når burger menuen er lukket skal den transforme således*/
.hidden {
    transform: translateX(-100%);
    display: none;
}

/*Selve burger knappen*/
#menuknap {
    display: inline-block;
    font-size: 2rem;
    font-family: sans-serif;
    color: #498ce8;
}

/*Menuen når den er foldet ud*/
#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    font-family: sans-serif;
    text-align: center;
}

/*BURGER SLUT*/

@media only screen and (max-width: 600px) {

    .forside {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 1rem;
        padding: 3rem;

    }

}
