* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

p {
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

/*MENU START*/
nav {
    text-align: right;
    z-index: 40;
    position: fixed;
    top: 0;

}

nav a {
    font-family: sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #337CBF;
    font-weight: 100;
    text-transform: uppercase;
    margin-right: 30px;
}

/*Når man hover over links */
nav a:hover {
    color: #66b0f4;
}

li {
    padding: 1rem 0;
    align-content: flex-end;
}

ul {
    background-color: white;
    width: 100vw;
    height: 60px;
    margin: 0;

}


/*DROPDOWN START */
nav li {
    list-style-type: none;
    text-align: right;
}




nav#dropdown_nav {
    display: none;

}

li.filter {
    display: none;
}

.dropdown b {
    font-size: 3rem;
}

.dropdown #dropdownbtn {
    background-color: inherit;

}


#dropdown_nav {
    display: none;
    position: absolute;
    background-color: var(--transparent-blue);
    line-height: 2rem;
    top: 4vw;





}


.dropdown-content a:hover {
    background-color: #f0f0f0;

}

.dropdown:hover #dropdown_nav {
    display: block;


}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;

}

.dropdown-content {
    padding: 0;
    padding-top: 13px;
}


.dropdown-content li {
    padding: 20px;
    text-align: left;
    width: 100%;
    font-size: 0.8rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    color: white;
}

.dropdown-content li:hover {
    background-color: var(--blue);
    cursor: pointer;

}

i {
    border: solid var(--dark-blue);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    margin-bottom: 4px;
    margin-left: 7px;

}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*DROPDOWN SLUT*/

/*BAR TIL NAVIGATIONEN*/
/*
.bar {
    top: 0vw;
    display: flex;
    width: 100vw;
    height: 75px;
    background-color: red;

}
*/

.logo {
    position: absolute;
    width: 150px;
    height: 30px;
    top: 1vw;
    left: 3vw;
    justify-content: center;

}

/*MENU SLUT*/

/*BURGER MENU*/

/*Når burger menuen er lukket skal den transforme således*/
.hidden {
    transform: translateX(-100%);
    display: none;
}

/*Selve burger knappen*/
#menuknap {
    display: inline-block;
    font-size: 2rem;
    font-family: sans-serif;
}




/*Når siden er over 600px skal burger menuen ikke vises*/
@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        display: block;
    }

    #menu li {
        display: inline-block;
    }
}

/*BURGER SLUT*/




@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

/*BURGER SLUT*/

/*FORSIDE*/
.forside {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 1rem;
    padding: 3rem;
}


.forside h3 {
    color: dodgerblue;
}

.forside p {
    font-size: 1.3rem;
    max-width: 550px;
    margin-left: 2.5rem;
}

.forside a {
    text-decoration: none;
    color: #498ce8;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.splash {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;

}

/*HISTORIE*/
.historie {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.historie_baggrund {
    background-color: rgba(200, 206, 206, 0.17);
}

.historie p {
    margin: 2.5rem;
    line-height: 1.5;
    background-color: white;
    padding: 2rem;
}

.forside_text h1 {
    text-align: center;
    font-size: 2.3rem;
    font-family: sans-serif;
    padding-top: 2rem;
}

.historie h2 {
    margin-left: 2.4rem;
    font-size: 1.5rem;
}

.koga_video {
    margin: 0 4vw;
    /*flex-basis: 300px;
    flex-grow: 1;
    display: flex;*/
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 50%
}

.koga_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*KONTAKT*/
.kontakt_side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.kontakt {
    margin: 3vw;
    padding-left: 5vw;
    flex-basis: 200px;
    flex-grow: 1;
}

.kort {
    margin-top: 4vw;
    flex-basis: 300px;
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.kontakt p {
    font-family: sans-serif;
    font-size: 1.3rem;
}

.kontakt h1 {
    font-family: sans-serif;
    font-size: 2.3rem;
}

/*SOCIALE MEDIER*/
.instagram-media {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 4rem;
    padding: 3rem;
}

.some {
    display: grid;
    margin-top: 4rem;
}

.some h1 {
    font-size: 2.3rem;
    font-family: sans-serif;
    text-align: center;

}

.facebook {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 4rem;
    padding: 3rem;
}

.face {
    /*    position: relative;*/
    overflow: hidden;
}

.face iframe {
    top: 0;
    left: 0;
    max-width: 10 0%;
    height: 100%;
    border: 0;
}

.facebook p {
    line-height: 1.5;
    max-width: 450px;
    background-color: white;
    padding: 3em;

}

.medier_baggrund {
    background-color: rgba(200, 206, 206, 0.17);
}

/*CYKLER*/
.cykler {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2.5rem;
    padding: 0 8rem;

}

.enkelt {
    cursor: pointer;
    background-color: white;
    padding: 1rem;
    transition: 0.5s all;

}

.enkelt:hover {
    transform: scale(1.1);
}

.enkelt h2,
p {
    padding-left: 10px;
}

.cykler_baggrund {
    background-color: rgba(200, 206, 206, 0.13);
}

/*SEKUNDÆR MENU*/
.menu2 {
    text-align: center;
    justify-content: space-between;
    margin: 6rem 0 3rem;

}

/*Selve knappen*/
.menu2 button {
    font-size: 1rem;
    /*Den indre afstand i boksen*/
    padding: 10px;
    /*Fjerner kanten på knapperne*/
    font-family: sans-serif;
    margin: 0 1rem;
    cursor: pointer;

}

.menu2 button:hover {}

.valgt {
    border-style: solid;
    transform: scale(1.3);

}

/*DETALJESIDE*/

@media only screen and (min-width: 600px) {

    .detalje_side {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0 7vw;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 600px) {

    .detalje_tekst {
        grid-column: 1/2;
        padding: 0 30px;
    }
}

.detalje_side {
    width: 90vw;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.detalje_img {
    box-sizing: border-box;
    margin-top: 100px;
}

.detalje_indhold {
    display: block;
    box-sizing: border-box;
    margin-left: 5vw;
    margin-top: 100px;
}

.detalje_tekst p {
    box-sizing: border-box;
    display: block;
    margin-left: 5vw;
    font-size: 1.2em;
}

.luk {
    display: inline-block;
    font-size: 2rem;
    position: fixed;
    margin-top: 45px;
}


.detalje_side h2 {
    font-size: 3rem;
}

.detalje_side p {
    margin-right: 5rem;
    font-size: 1.2em;
    font-family: sans-serif;
}

/***FOOTER****/

footer {
    text-align: center;
    background-color: #498ce8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Tekst i footer*/
footer p {
    color: white;
    padding-top: 0.5rem;
    text-align: center;
    width: 20rem;
}

footer a {
    text-decoration: none;
    color: white;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 600px) {

    .forside {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 1rem;
        padding: 3rem;

    }

}
